.DS_Store
# ignore all logs
*.log
# sonarqube files
.scannerwork
# ignore vscode files
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix
.vscode/targets.log
.vscode/targets.log
